@use "../global/variables.scss";
@use "../global/mixins.scss";

.description {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 135%;
  letter-spacing: 1.4px;
}
