@use "../global/variables.scss";
@use "../global/mixins.scss";

.new__wrapper {
  overflow-x: hidden;
  text-align: center;

  padding-top: 90px;
  padding-bottom: 125px;
}

.new__title {
  padding-bottom: 41px;
}

.new__link {
  width: 210px;
  margin: 0 auto;

  display: block;
}

.new__swiper-button-next,
.new__swiper-button-prev {
  top: 145px;
}
