@use "../global/variables.scss";
@use "../global/mixins.scss";

.title {
  &--h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    text-align: start;
  }

  &--white {
    color: #ffffff;
  }

  &::first-letter {
    color: variables.$color-orange;
  }
}
